.container {
    padding: 5%;
}

.center {
  row-gap: 2%;
  background-color: #1976D2;
  border-radius: 6px;
  padding: 1% 3%;
  
}

.list{
  background-color:beige;
  padding: 3%;
  border-bottom: black 1px solid;
  display: flex;
  justify-content: space-between;
  
}


.button {
  width: 100px;
  height: auto; 
  margin-top: 10px; 
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #1C365C;
  color: black;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.image {
  max-width: 100%; /* Definindo a largura máxima como 100% do contêiner */
  max-height: 100%; /* Definindo a altura máxima como 100% do contêiner */
  height: auto; /* Fazendo a altura se ajustar automaticamente */
  align-items: center;
}
